header{
    min-height: 50px;
    margin: 0 0 0 .5rem;
    border: 4px dotted cadetblue;
}

.prvi{
    background-color: rgb(223, 171, 223);
    padding-right: 15px;
}

footer{
    outline: dashed red;
}

