body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* kartice / kviz container */
.card {
  border-radius: 16px;
}

.btn-option {
  text-align: left;
  transition: 0.2s ease;
  margin-bottom: 12px; /* razmak između odgovora */
}

/* dodatni razmak unutar kviza */
#quiz button {
  margin-bottom: 12px;
  margin-top:20px;
}

.btn-option:hover {
  transform: scale(1.02);
}

/* točan / netočan odgovor */
.correct {
  background-color: #28a745 !important;
  color: white !important;
}

.wrong {
  background-color: #dc3545 !important;
  color: white !important;
}

/* menu linkovi */
.menu a {
  text-decoration: none;
}